* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: "Roboto Slab", sans-serif;
}

#app {
  background-color: #FEE3B4;
  height: 100vh;
}

.container {
  height: calc(100vh - 5rem);
}

@media screen and (device-width: 360px) {
  html {
    font-size: 9px;
  }

  .button {
    padding: 1rem 4rem;
    font-size: 2em;
  }
}

